.root {
  padding: 60px 0 60px 24px;
}

.searchInput {
  max-width: 644px;
}

.select {
  max-width: 234px;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.banModal {
  max-width: 378px;
}
