.btnFooter {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 130px;
}

.text {
  margin-bottom: 18px;
  display: inline-block;
}

.select {
  width: 100%;
  //background-color: var(--dark-500);
  background-color: var(--dark-300);
  margin-bottom: 48px;
}
