.table {
  margin-bottom: 25px;
}

.banedId {
  display: flex;
  gap: 12px;
}

.link {
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: var(--primary-100);
  }
}

.dropdown {
  background-color: transparent;
}
