.table {
  margin-bottom: 25px;

  //& th {
  //  background-color: #990f2b;
  //}
}

.banedId {
  display: flex;
  gap: 12px;
}

.link {
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: var(--primary-100);
  }
}

.dropdown {
  background-color: transparent;
}
